main{
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
}
#tela{
    width: 1080px;
    height: 720px;
    justify-content: center;
    align-items: center;
    display: flex;  
    border: 1px solid black;
    position: absolute;
    overflow: hidden;
}
header {
    position: relative;
    display: block;
    top:-44%;
    height: 92px;
    width: 100%;
    user-select: none;
    background-color: rgba(17, 16, 16, 0.926);
}
.nav-container {
display: flex;
justify-content: space-between;
width: 100%;
height: 92px;
}
#icones{
gap: 25px;
width: 25%;
display: flex;
justify-content:center;
align-items: center;
height: 100%;
}
#logo {
width: 50px;
height: 50px;
}
.som{
width: 90px;
height: 85px;
cursor: pointer;
}
#att{
width: 50px;
height: 50px;
display: block;
}
#jorge {
    border: 1px solid;
    border-color: black;
    display: flex;
    position: absolute;
}
canvas {
    position: relative;
    /* display: flex; */
}
