@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Press+Start+2P&family=Roboto&display=swap');
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: gray;
}
.taskScreen{
    overflow: hidden;
    display: flex;
    position: absolute;
    background: #e0d479;
    width: 80%;
    height: 80%;
    border: solid 2px black;
}

#Ground_box{
    cursor: pointer;
    right: 0;
    bottom: 0;
    position: absolute;
    max-width: 25%;    
}

#taskPallet{
    visibility: visible;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: red;
}

#taskPallet > img{
    width: 60%;
    background-color: blue;
    position: absolute;
    bottom: 0;
}

#palletBoxes{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-color: green;
    bottom: 0;
    width: 75%;
    height: 60%;
}
#layer1,#layer2,#layer3{
    margin-left: 2.5%;
    width: 100%;    
    display: flex;
}
#palletTask{
    max-width: 80%;
}
.bx{
    background-size: 100%;
    border: solid 1px blue;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

#storage{
    border: ridge 8px white;
    padding: 20px;
    position: absolute;
    visibility: hidden;
    position: absolute;
    right: 0;
    background: green;
    width: 40%;
    height: 100%;
}

#closeBtn{ 
    background-color: red;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: ridge 3px white;
    position: absolute;
    top: 0;
    right: 0;
}

.boxContainer{
    width: 90%;
    position: absolute;
    display: grid;
    grid-template-columns:repeat(3,auto);
}

.boxCont > img{
    background-color: red;
    max-width: 80%;
    cursor: pointer;
}

.dialogueBox{
    display: none;
    padding: 10px;
    background-color: #dc0e0e ;
    bottom: 0;
    width: 100%;
    height: 10%;
    border-top:2px solid black;
    position: absolute;
}

#worker{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
}

.dialogueBox > p{
    position: absolute;
    color: white;
    font-size: 16pt;
    font-family: 'Press Start 2P', cursive;
}